@import "tailwindcss";

/* index.css */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  /* Prevent the body from scrolling; let the <main> tag in Layout handle it */
  overflow: hidden; 
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

body {
  font-family: 'Inter', sans-serif;
  background: #F1F5F9;
}